@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid; 
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 300px 3fr; 
}

.headerBtn {
    width: 30px;
    height: 50px;
    border-style: none;
    background-color: #0e7490;
    cursor: pointer;
    font-size:xx-large;
    color: #dbeafe;
    margin: auto auto 0 10px;
}

.header {
    height: 15vh;
    background-color: #0e7490;
    grid-column: 1/ span 2;
    display: flex; 
}

.logo {
    margin-right: auto;
    width: 210px;
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.sidebar {
    grid-row: 2;
    background-color: #eff6ff; 
}

.body {
    grid-column: 2;
}

.list {
    margin: 40px 0 0 40px; 
}

.items-list, .projects {
    padding-bottom: 30px;
    display: flex;
    height: 5px;
}

.sidebar button {
    border-radius: 10px;
    border-style: none;
    background-color: #eff6ff;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    width: 220px;
    height: 35px;
}

.sidebar button:hover {
    background-color: #dbeafe;
}

.iconSvg {
    margin: 3px 0 0 5px;
    width:24px;
    height:24px; 
}

h2 {
    font-size: 1.2rem;
}

.projects {
    display: flex;
    flex-direction: column;
}

.add-project {
    margin-left: 30px;
    display: flex;
}

.add-project:hover {
    background-color: #dbeafe;
    border-radius: 10px;
    width: 200px;
}

.add-project-btn {
    font-size: 1rem;
}

.items-list:hover {
    padding-bottom: 30px;
    background-color: #dbeafe;
    width: 220px;
    border-radius: 10px;
    height: 5px;
}