@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid; 
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 3fr; 
}

.sidebarBtn {
    width: 30px;
    height: 50px;
    border-style: none;
    background-color: #0e7490;
    cursor: pointer;
    font-size:xx-large;
    color: #dbeafe;
    margin: auto auto 0 10px;
}

.header {
    height: 13vh;
    width: 100vw;
    background-color: #0e7490;
    grid-column: 1/span 2;
    display: flex; 
}

.logo {
    margin-right: auto;
    width: 210px;
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.sidebar {
    grid-row: 2;
    background-color: #eff6ff; 
    height: 87vh;
}

.body {
    grid-row: 2;
    display: flex;
    width: 100vw;
}

.list {
    margin: 40px 0 0 40px; 
}

#form-project {
    display: flex;
    justify-content: center;
}

#form-project:hover {
    background-color: #e5e7eb;
}

#name {
    border: 1px solid grey; 
    width: 200px;
}

.add-button, .cancel-button {
    width: 80px;
    margin: 5px;  
    background-color: #0e7490;
    border-style: none;
    color: white; 
    cursor: pointer;
}

.project-form-button {
    display: flex;
    justify-content: center;
}

.items-list, .projects {
    padding-bottom: 30px;
    display: flex;
    height: 5px;
}

#project-name-div{
    width: 200px;
}

#inbox, #today, #week, .add-project, .add-project-btn, #project-name-btn{
    border-radius: 10px;
    border-style: none;
    background-color: #eff6ff;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    width: 220px;
    height: 35px;
}


#inbox:hover, #today:hover, #week:hover, .add-project-btn:hover, #project-name-btn:hover {
    background-color: #dbeafe;
}

.iconSvg {
    margin: 3px 0 0 5px;
    width:24px;
    height:24px; 
}

h3 {
    font-size: 1.2rem;
}

.projects {
    display: flex;
    flex-direction: column;
}

.add-project {
    margin-left: 30px;
    display: flex;
    width: 200px;
}

.add-project:hover {
    background-color: #dbeafe;
    border-radius: 10px;
    width: 200px;
}

.add-project-btn {
    font-size: 1rem;
}

.items-list:hover {
    padding-bottom: 30px;
    background-color: #dbeafe;
    width: 220px;
    border-radius: 10px;
    height: 5px;
}

.container-title {
    width: 65vw;
    height: 10vh;
    background-color: #e5e7eb;
    border-radius: 10px;
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;
}

.title {
    width: 20vw;
    height: 8vh;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    color: #0e7490;
    font-size: 2.5rem;
    padding-left: 30px;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.add-task {
    height: 5vh;
    width: 35vw;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px auto 0 auto;
}

.add-task:hover {
    background-color: #dbeafe;
}

#close {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

#close:hover,
#close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#form{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 260px;
    padding: 10px 20px 70px 30px;
    border-style: none;
    border-radius: 1em;
    background-color: #0e7490;
    box-shadow: 5px 5px #085f77;
}

.title-form {
    font-size: 1.5rem; 
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.form-div {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;  
}

.task-title, .description, .date, .priority {
    color: white;
    margin: 3px;
    display: flex;
    flex-direction: column;
}

input[type='text'] {
    border-style: none;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
}

#description {
    height: 100px;
    width: 258px;
}

.date-priority {
    display: flex; 
    flex-direction: column;
    margin-left: 10px;
}

.submit {
    width: 80px;
    background-color: #dbeafe;
    border-radius: 5px;
    border: 1px solid white;
    padding: 3px;
    margin-left: 330px;
    margin-top: 20px;
 
}

.submit:hover {
    background-color: #0e7490;
    color: #ccfbf1;
}

.delete {
    width: 20px;
    height: 30px;
    cursor: pointer; 
    color: rgb(97, 97, 97); 
    font-weight: bolder;
    margin-top: 5px;
    font-size: larger;
}

